body {
    background-image: url(/images/imgMarineSunny/PvsM.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h2 {
    font: italic bold 2rem "Fira Sans", serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    position: fixed;
    bottom: 40px;
    left: 0;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
}


#marine {
    width: 45vh;
    min-width: 150px;
    position: absolute;
    top: 30%;
    right: 6%;
    transition: transform 0.2s ease-in-out;
}


#marine:hover {
    transform: scale(1.10);
    cursor: pointer;
}

#pirate {
    width: 36vh;
    min-width: 150px;
    position: absolute;
    top: 32%;
    left: 10%;
    transition: transform 200ms ease;
}

#pirate:hover {
    transform: scale(1.10);
    cursor: pointer;
}

#panneauretour {
    width: 20vw;
    min-width: 80px;
    position: absolute;
    top: 5%;
    left: 40%;
    cursor: pointer;
}



@media (max-width: 768px) {

    body{
        background-image: url(/images/imgMarineSunny/vsTablet.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
        
        overflow: hidden;
    }



    #marine {
        width: 40vw;
        top: 55%;
        right: 5%;
    }

    #pirate {
        width: 30vw;
        top: 8%;
        left: 5%;
    }

    #panneauretour {
        width: 30vw;
        top: 0%;
        left: 60%;
    }
}






@media (max-width: 480px) {

    body{
        background-image: url(/images/imgMarineSunny/vsTablet.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
        overflow: hidden;
    }

    #marine {
        width: 50vw;
        top: 55%;
        right: 2%;
    }

    #pirate {
        width: 40vw;
        top: 15%;
        left: 5%;
    }

    #panneauretour {
        width: 40vw;
        top: 0vw;
    }
}

